version: '3'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: anemosense_api
    restart: unless-stopped
    env_file: .env
    expose:
      - "5000"

  nginx:
    image: nginx:1.24-alpine
    container_name: anemosense_nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
    depends_on:
      - api

  certbot:
    image: certbot/certbot
    container_name: anemosense_certbot
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
