name: Deploy API

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

env:
  DOCKER_IMAGE: welldanyogia/anemosense-api

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ env.DOCKER_IMAGE }}:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /home/anemo/anemosens-api/anemosens-api
            git pull
            
            # Pull latest image
            docker-compose -f docker-compose.prod.yml pull
            
            # Restart services
            docker-compose -f docker-compose.prod.yml up -d
            
            # Cleanup unused images
            docker image prune -f
